body {
    margin: 2%;
    border: 1px solid rgb(0, 0, 0);
    background-color: #b3b3b3;
}

#image {
    line-height:650px;
    width: 575px;
    height: 650px;
    border:5px solid rgb(0, 0, 0);
    margin:0 auto;
    background-color: #000000;
    background-image: url('');
    background-repeat: no-repeat;
    color:#0bb6ad;
    text-align: center;
    background-size: 100%;
    margin-bottom:25px;
    font-size: 150%;
}

.preview {
    width:10%;
    margin-left:17%;
    border: 10px solid black;
}

img {
    width:95%;
}